[submodule "third_party/x265"]
	path = third_party/x265
	url = https://bitbucket.org/multicoreware/x265_git.git
[submodule "third_party/l-smash"]
	path = third_party/l-smash
	url = https://github.com/HomeOfAviSynthPlusEvolution/l-smash.git
