[submodule "third_party/x265"]
	path = third_party/x265
	url = https://github.com/Multicorewareinc/x265.git
[submodule "third_party/l-smash"]
	path = third_party/l-smash
	url = https://github.com/HomeOfAviSynthPlusEvolution/l-smash.git
[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = https://github.com/HomeOfAviSynthPlusEvolution/FFmpeg.git
	branch = custom-patches-for-lsmashsource
